@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

header {
  background-color: black;
}
.container {
  margin: auto;
  padding: 0 20px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-left {
  display: flex;
  color: #fff;
  align-items: center;
}
.head-left nav {
  display: none;
}
.head-left-img {
  height: 44px;
  margin: 0 16px 0 0;
}
.head-left-img img {
  height: 100%;
}
.fa-bars {
  font-size: 24px;
  margin: 0 24px 0 0;
}
.head-left-a {
  color: #fff;
  text-transform: uppercase;
  font: 700 17.297px "Roboto", sans-serif;
}
.head-right nav ul {
  display: flex;
  align-items: center;
}
.head-right ul li a {
  color: #e6e6e6;
  font: 400 15px/20px "Roboto", sans-serif;
  text-transform: capitalize;
}
.fa-magnifying-glass {
  color: #fff;
  font-size: 18px;
}
.head-right nav ul li {
  margin-left: 24px;
}
.head-right nav ul li:last-child {
  margin-left: 16px;
}
.head-right button {
  padding: 6px 9px;
  border-radius: 8px;
  border: 1px solid #fff;
  color: #fff;
  font: 700 14px/20px "Roboto", sans-serif;
  letter-spacing: 0.2px;
  background-color: transparent;
  text-transform: capitalize;
}
main {
  padding: 48px 0 102px;
}
main h1 {
  margin-bottom: 60px;
  color: #000;
  font: 700 42px/48px "Roboto", sans-serif;
}
.card-img img {
  width: 100%;
}
.cards-wrapper {
  display: grid;
  row-gap: 24px;
}
.card-content p {
  color: #0c0c0c;
  letter-spacing: 0.5px;
  font: 400 16px/20px "Roboto", sans-serif;
}
footer {
  background-color: #000;
  padding: 49px 0 24px 0;
}
.footer-input {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #b1b1b1;
}
footer div input {
  width: 100%;
  border: 0;
  outline: none;
}
footer i {
  font-size: 24px;
  color: #000 !important;
  margin: 0 12px 0 0;
}
footer div input::placeholder {
  color: #757575;
  font: 400 16px "Roboto", sans-serif;
  text-transform: capitalize;
}
.footer-card h3 {
  color: #fff;
  font: 700 18px/20px "Roboto", sans-serif;
}
.footer-card ul li a {
  color: #e6e6e6;
  font: 400 14px/18px "Roboto", sans-serif;
}
.footer-wrapper{
    margin-top: 47px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px 0;
}
/* hamburger menu */
.d-none{
  display: none;
}
.d-block{
  display: block;
}
body>.hamburger-menu{
  position: absolute;
  background-color: #0c0c0c;
  width: 100%;
  height: 35vh;
  z-index: 5;
}
body>.hamburger-menu>.header-items>ul{
  margin-top: 30px;
  list-style-type: none;
  color: #E6E6E6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}
body>.hamburger-menu>.header-items>ul :hover{
  color: aqua;
  cursor: pointer;
  transition: all  0.5s;
  transform: scale(1.5);
}
body > header > .container >.head> .head-left > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}
body > header > .container > .head> .head-left>button>i {
  color: #E6E6E6;
  font-size: 28px;
}


@media (min-width: 576px) {
  .container {
    padding: 0;
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .footer-wrapper{
    grid-template-columns: repeat(3,1fr);
    gap: 60px 0;
}
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .head-left nav {
    display: block;
  }
  .head-left nav ul {
    display: flex;
  }
  .head-left nav ul li {
    padding: 0 12px;
  }
  .head-left nav ul li a {
    color: #e6e6e6;
    font: 300 15px/40px "Roboto", sans-serif;
  }
  .cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-wrapper{
    grid-template-columns: repeat(4,1fr);
    gap: 60px 0;
}
#menu-btn{
  display: none;
}
  
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .footer-wrapper{
    grid-template-columns: repeat(5,1fr);
    gap: 60px 0;
}
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .cards-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-wrapper{
    grid-template-columns: repeat(6,1fr);
    gap: 60px 0;
}
}
